{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "extension": [
    ".ts",
    ".tsx"
  ],
  "exclude": [
    "**/*.d.ts",
    "test/**/*.*",
    "coverage/**/*.*",
    ".build/**/*.*"
  ],
  "reporter": [
    "html",
    "text",
    "lcov"
  ]
}
